.App {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
}

.binsHeader {
  height: 100px;
  width: 100%;
  background: #ED6B5A;
}

.binHeader {
  height: 100px;
  width: 100%;
  background: #ED6B5A;
}

.headerLogo {
  width: 10%;
  height: 100%;
  background: #AB2A19;
}

.headerShelf {
  width: 20%;
  height: 100%;
  background: #D34735;
}

.headerBin {
  width: 70%;
  height: 100%;
}

/* .dollar {
  border: 1px inset #ccc;
}

.dollar input {
  border: 0px
}

.addInventory {
  margin-top: 10px;
} */